{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends" : "eslint:recommended",
  "rules": {
    "strict": [2, "never"],
    "quotes": [
      2,
      "single"
    ],
    "no-unused-vars": [2, {
      "vars": "local",
      "args": "after-used"
    }],
    "no-use-before-define": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-alert": 2,
    "key-spacing": [2, { "beforeColon": false, "afterColon": true, "mode": "minimum" }],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-dupe-keys": 2,
    "comma-dangle": [2, "never"],
    "eqeqeq": 2,
    "constructor-super": 2,
    "no-with": 2,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "comma-style": [2, "last"],
    "indent": [2, 2],
    "new-cap": 2,
    "new-parens": 2,
    "no-lonely-if": 2,
    "require-jsdoc": [2, {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": false,
            "ClassDeclaration": false
        }
    }],
    "spaced-comment": [2, "always"],
    "no-var": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": true }]
  },
  "not-working": {
    "arrow-parens": 2,
    "arrow-spacing ": 2,
    "prefer-arrow-callback:": 2,
    "no-confusing-arrow": 2
  }
}
